[Unit]
Description=Viet+ Vietnamese IME Daemon

[Service]
Type=simple
ExecStart=/usr/bin/vietc
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
